<% layout('layouts/boilerplate') %>
<body>
    <h3>Edit Information</h3>
   <form method="POST" action="/listing/<%=list._id%>?_method=PUT">
        <input name="new[title]" type="text" value="<%=list.title%>">
        <br> <br>
        <textarea name="new[description]" type="text" ><%= list.description %></textarea>
        <br> <br>
        <input name="new[image]" type="text" value="<%=list.image.url%>">
        <br> <br>
        <input name="new[price]" type="number" value="<%=list.price%>">
        <br> <br>
        <input name="new[country]" type="text" value="<%=list.country%>">
        <br> <br>
        <input name="new[location]" type="text" value="<%=list.location%>">
        <br> <br>
        <button>ADD</button>
        
       
</body>
